@model IEnumerable<projetb.Models.data.Customers>

@{
    ViewBag.Title = "CustomersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des Clients</h2>
<div class="banner">
    <img src="~/Images/courtier.jpg" alt="Slogan Courtier" class="img-thumbnail" title="nos valeurs de courtierInside" />
</div>
<p>
    @Html.ActionLink("Créer un nouveau", "addcustomers")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.budget)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(item => item.budget))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.budget)
            </td>
            <td>
              
                <div class="delete-section">
                    <a href="@Url.Action("editC", new{ id = item.idCustomer})" class="btn btn-info">Modifier</a>
                    <a href="@Url.Action("profilC", new{ id = item.idCustomer})" class="btn btn-warning">Infos Clients</a>
                    <a class="delete-link btn btn-danger" href="@Url.Action("Delete", new { id = item.idCustomer })">Supprimer</a>
                    <button class="btn btn-warning delete-confirm" style="display:none" data-delete-id="@item.idCustomer">Es tu sûr?</button>
                </div>
            </td>
        </tr>
    }

</table>
@section scripts {
    <script>
        $(function () {
            var successMessage = `@TempData["SuccessMessage"]`
            if (successMessage != ``)
                alertify.success(successMessage);
        });
    </script>

    <script type="text/javascript">
    $(function () {
        $("a.delete-link").click(function () {
            var deleteLink = $(this);
            deleteLink.hide();
            var confirmButton = deleteLink.siblings(".delete-confirm");
            confirmButton.show();

            var cancelDelete =  function () {
                removeEvents();
                showDeleteLink();
            };

            var deleteItem = function () {
                removeEvents();
                confirmButton.hide();
                $.post(
                    '@Url.Action("Delete")',
                    AddAntiForgeryToken({ id: confirmButton.attr('data-delete-id') }))
                   .done(function () {
                       var parentRow = deleteLink.parents("tr:first");
                       parentRow.fadeOut('fast', function () {
                           parentRow.remove();
                       });
                   }).fail(function (data) {
                       alert("error");
                   });
                return false;
            };

            var removeEvents = function () {
                confirmButton.off("click", deleteItem);
                $(document).on("click", cancelDelete);
                $(document).off("keypress", onKeyPress);
            };

            var showDeleteLink = function () {
                confirmButton.hide();
                deleteLink.show();
            };

            var onKeyPress = function (e) {
                //Cancel if escape key pressed
                if (e.which == 27) {
                    cancelDelete();
                }
            };

            confirmButton.on("click", deleteItem);
            $(document).on("click", cancelDelete);
            $(document).on("keypress", onKeyPress);

            return false;
        });
        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };
    });
    </script>
}